<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @paciente.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @paciente.email %>
</p>

<p>
  <b>Telefone:</b>
  <%= @paciente.telefone %>
</p>

<p>
  <b>Dt:</b>
  <%= @paciente.dt %>
</p>


<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
